<div *ngIf="isLoggedIn" class="content-wrapper">
    <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Net Pay By Retailer</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
  <div class="card-body" style="display: block;">
    <div class="row">
          <div class="col-sm-3"> 
            <div class="form-group">
              <div class="input-group">
                <input class="form-control"  placeholder="yyyy-mm-dd"
                       name="fromDate" [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3"> 
            <div class="form-group">
              <div class="input-group">
                <input class="form-control"  placeholder="yyyy-mm-dd"
                       name="toDate" [(ngModel)]="toDate" ngbDatepicker #t="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="t.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <!-- <select name="user_type" id="toUser" class="form-control" required [(ngModel)]="toUser">
              <option value="">Select Type</option>								
              <option value="1">Retailer</option>
              <option value="2">Distributor</option>            
            </select> -->
            <!-- <input type="text" name="user_name" class="form-control" placeholder="Enter User Name" [(ngModel)]="toUser"> -->
            <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="toUser" [ngbTypeahead]="search" [resultFormatter]="formatter" />
          </div>
  
          <div class="col-sm-3">
            <button type="submit" (click)="searchUser()" class="btn btn-primary">Submit</button>
          </div>
    </div>
  </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">NET TO PAY</h3>
          <button (click)="createPdf()" class="btn btn-primary" style="float: right;padding: 2px;">Download PDF</button>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>#</th>
                    <th>Date  </th>
                    <th>UserName</th>
                    <th>Name</th>
                    <th>Sales Points</th>
                    <th>Winning Points</th>
                    <th>Commission</th>
                    <th>Net Points</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let nettopay of nettopays let i = index" >
                <td>{{ i + 1 }}</td>
                <td>{{ this.dFromDate + ' To ' + this.dToDate }}</td>
                <td>{{ nettopay.displayUserId }}</td>
                <td>{{ nettopay.userName}}</td>
                <td>{{ nettopay.salePoints.toFixed(2) }}</td>
                <td>{{ nettopay.totalWinning.toFixed(2) }}</td>
                <td>{{ nettopay.commition.toFixed(2) }}</td>
                <td>{{ (nettopay.salePoints  -  nettopay.totalWinning - nettopay.commition).toFixed(2) }}</td>
              </tr>
              <tr>
                <td colspan="4" class="no-data-available"><strong>Retailer Total</strong></td>
                <td class="no-data-available"><strong>{{sptotal.toFixed(2) }}</strong></td>
                <td class="no-data-available"><strong>{{ twtotal.toFixed(2) }}</strong></td>
                <td class="no-data-available"><strong>{{ ctotal.toFixed(2) }}</strong></td>
                <td class="no-data-available"><strong>{{ tnptotal.toFixed(2)  }}</strong></td>
              </tr>
            </tbody>
            
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>